@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
  text-decoration: none;
}

html {
  font-size: 110%;
  position: relative;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  background-attachment: fixed;
}

@media (max-width: 1350px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0;
  margin-top: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Carter One', cursive;
  margin-bottom: 7rem;
}

.App h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.App .content {
  width: 30rem;
  height: 40rem;
  word-wrap: break-word;
}

.App .content input {
  display: block;
  width: 100%;
  height: 2.7rem;
  padding: 0 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  background-color: white;
}

.App .content input:focus {
  -webkit-box-shadow: 0 0 3px 2px paleturquoise;
          box-shadow: 0 0 3px 2px paleturquoise;
  outline: none;
}

.App .content p {
  margin: 5px;
  float: right;
  font-size: 0.8rem;
}

.App .content button {
  width: 40%;
  height: 3rem;
  font-size: 1.2rem;
  background-color: white;
  margin-top: 0.7rem;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: lightskyblue;
  border: none;
  font-family: inherit;
}

.App .content button:hover {
  background-color: rgba(135, 206, 250, 0.7);
  cursor: pointer;
}

.App .content button:active {
  background-color: lightskyblue;
  font-size: 1.15rem;
}

.Overview {
  margin-top: 2rem;
  width: 100%;
  height: 75%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.6rem;
  overflow-y: auto;
}

.Overview::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.Overview::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

.Overview .items {
  list-style: none;
  padding: 0.5rem 0.8rem;
  position: relative;
}

.Overview .items:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.2);
}

.Overview .items:hover .right {
  display: block;
  color: black;
}

.Overview .items .textField {
  display: inline-block;
  width: 100%;
}

.Overview .items .right {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.Overview .items .right i:hover {
  cursor: pointer;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.Overview .items .right .editButton {
  margin-right: 7px;
  display: inline-block;
}

.Overview .items .right .fa-trash-alt:hover {
  color: red;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  border-radius: initial;
  background-color: rgba(0, 0, 0, 0.555);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer a {
  margin-left: 0.7rem;
}

.Footer a i {
  color: black;
}

.Footer a i:hover {
  -webkit-transform: scale(108%);
          transform: scale(108%);
}
/*# sourceMappingURL=index.css.map */