@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
* {
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
}

html {
    font-size: 110%;
    @media (max-width: 1350px) {
        font-size: 100%;
    }
    @media (max-width: 1200px) {
        font-size: 90%;
    }
    @media (max-width: 1024px) {
        font-size: 80%;
    }
    @media (max-width: 768px) {
        font-size: 70%;
    }
    @media (max-width: 480px) {
        font-size: 60%;
    }
    @media (max-width: 320px) {
        font-size: 50%;
    }
    position: relative;
    background-color: #0093E9;
    background-image: linear-gradient(160deg,
    #0093E9 0%,
    #80D0C7 100%);
    background-attachment: fixed;
}

body {
    margin: 0;
    margin-top: 6.5rem;
    display: flex;
    min-height: 70vh;
    justify-content: center;
    // align-items: center;
    font-family: 'Carter One', cursive;
    margin-bottom: 7rem;
}

.App {
    h1 {
        text-align: center;
        font-size: 3rem;
        margin: 0;
        user-select: none;
    }
    .content {
        width: 30rem;
        height: 40rem;
        word-wrap: break-word;
        input {
            display: block;
            width: 100%;
            height: 2.7rem;
            padding: 0 0.5rem;
            font-size: 1rem;
            font-family: inherit;
            border: none;
            background-color: rgb(255, 255, 255);
            &:focus {
                box-shadow: 0 0 3px 2px paleturquoise;
                outline: none;
            }
        }
        p {
            margin: 5px;
            float: right;
            font-size: 0.8rem;
            user-select: none;
        }
        button {
            width: 40%;
            height: 3rem;
            font-size: 1.2rem;
            background-color: white;
            margin-top: 0.7rem;
            margin-left: 50%;
            transform: translateX(-50%);
            background-color: lightskyblue;
            border: none;
            font-family: inherit;
            &:hover {
                background-color: rgba(135, 206, 250, 0.7);
                cursor: pointer;
            }
            &:active {
                background-color: lightskyblue;
                font-size: 1.15rem;
            }
        }
    }
}

.Overview {
    margin-top: 2rem;
    width: 100%;
    height: 75%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.6rem;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.5);
    }
    .items {
        list-style: none;
        padding: 0.5rem 0.8rem;
        position: relative;
        ;
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            color: rgba(0, 0, 0, 0.2);
            .right {
                display: block;
                color: black;
            }
        }
        .textField {
            display: inline-block;
            width: 100%;
        }
        .right {
            position: absolute;
            right: 0.8rem;
            top: 50%;
            transform: translateY(-50%);
            display: none;
            i:hover {
                cursor: pointer;
                transform: scale(110%);
            }
            .editButton {
                margin-right: 7px;
                display: inline-block;
            }
            .fa-trash-alt:hover {
                color: red;
            }
        }
    }
}

.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    border-radius: initial;
    background-color: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        margin-left: 0.7rem;
        i {
            color: black;
            &:hover {
                transform: scale(108%);
            }
        }
    }
}